<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!-- 여기서  typeAliases를 설정하면 Mapper resultType에 궂이 경로를 적어줄 필요가 없다.-->
<typeAliases>
	<package name="org.zerock.domain" />
</typeAliases>
</configuration>