<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace 는 DAO나 DAOImpl에 정의한 namespace와 동일해야 함. -->
<mapper namespace="org.zerock.mapper.commonMapper">



<select id="selectRcpNo" resultType="string">
	SELECT LPAD(#{rcpNo},4,'0') FROM DUAL
</select>




</mapper>